@import '../../node_modules/bootstrap/scss/bootstrap.scss'
@import url(https://fonts.googleapis.com/css?family=Courgette)
@import '../../node_modules/@fortawesome/fontawesome-free/css/all.min.css'


nav
    background: url("../../images/banner1.jpg")
    background-size: cover
    height: 100vh
    
    .mon-opacite
        height: 100vh
   
        background:  url("../../images/bottom_decoration_img.png") bottom repeat-x , rgba(0,0,0,0.8)
        
    .hov:hover
        background-color: #d8374d
    .active
        background-color: #d8374d
    .col-3
       padding : .9rem 0 
       font-size: .9rem
.mon-espace
    padding : .9rem 0
    font-size: .9rem
h1 
    margin-top: 8rem
    font-size: 50px
    font-family: 'Courgette', cursive
    .majuscule
        text-transform: uppercase
    .couleur-taste
        color:#d8374d !important
    .gras
        text-transform: bold
        font-size: 70px
.div-button
    margin-top: 3rem

    #btn-left
        background-color: white !important
        color: black !important
        font-weight: 300
        font-size: 20px
    
    #btn-right
        background-color: #d8374d !important
        color: white !important
        font-weight: 300
        font-size: 20px
.bottom-nav
    margin-top: 13rem
    teint-cercle2
        color: gray 
        /*fin 1ere section*/



    


